.flexbox-container{
    display: flex;
    top: 0%;
    width: 85%;
    position: absolute;
    height: 130%;
    margin-left: 1%;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.0001em;
    width: 310%;
  }
 
.flexbox-item-1 {
  font-size: large;
    width: 20%;
    height: 132%;
}
.flexbox-container h2{
font-size: 220%;
}
.hi{
    margin-top: 15%;
}
.hi img{
    margin-left: 20%;
    border-radius: 5px;
}

.mrg{
    border-radius: 9px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10%;

}
.profile{
   
    background: rgba(255, 255, 255,0.1);
    box-shadow: 0 20px 50px rgba(0,0,0,0.15);
    border-color: aliceblue;
    margin-left: 60%;
}
.profile a{
    text-decoration: none;
    font-size: 20px;
    color: #f5ebf1;
}
.flexbox-item-1 h4{
   margin-left: 20px;
    font-style: italic;
    font-size: 150%;
    height: 45px;
    color: rgb(247, 238, 244);  
}
.flexbox-item-1 p{
  width: 220px;
  border-radius: 15px;
 
    overflow: hidden;
    font-size: 17px;
    color: rgb(76, 151, 189);
    background: rgba(255, 255, 255,0.1);
    box-shadow: 0 20px 50px rgba(0,0,0,0.15);
    
}

.flexbox-item-2{
    width: 90%;
    min-height: 400px;
    
}

.flexbox-item-2  img{
    margin-right: 60%;
    border-radius: 7%;
    border-color: #f5ebf1;
   
   
}
.good {
    margin-top: 4%;
    margin-left: 0%;
    display: flex;
    flex-flow: row;
}
.song{
    width: 40%;
    height: 20%;
    background: rgba(255, 255, 255,0.1);
    box-shadow: 0 20px 50px rgba(0,0,0,0.15);
    padding: 1em;
    display: flex;
    flex-flow: row;
    text-align: center;
    border-radius: 13px;
    background: -webkit-linear-gradient(left,rgb(14, 14, 14),rgb(66, 113, 146));
    
}
.song h4{
    margin-top: 5%;
    margin-left: 2%;
}
.gv{
    text-align: center;
    border-radius: 13px;
    width: 40%;
    height: 20%;
    display: flex;
    flex-flow: row;
    padding: 1em;
    background: rgba(255, 255, 255,0.1);
    box-shadow: 0 20px 50px rgba(0,0,0,0.15);
    background: -webkit-linear-gradient(left,rgb(14, 14, 14),rgb(66, 113, 146));
    margin-left: 7%;
}
.gv h4{
    margin-top: 5%;
    margin-left: 0%;
}



.ar{
    display: flex;
    flex-flow: row;
   
}
.shree{
    margin-top: 2%;
    margin-left: 0%;
    width: 15%;
    height: 275px;
    padding: 1em;
    background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
    border-radius: 15px;
    font-style: italic;
    font-size: small;
    font-weight: 500;
}
.bel{
    margin-top: 2%;
    margin-left: 7%;
    width: 15%;
    height: 275px;
    padding: 1em;
    background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
    border-radius: 15px;
    font-style: italic;
    font-size: small;
    font-weight: 500;
}
.who{
    margin-top: 2%;
    margin-left: 7%;
    width: 15%;
    height: 275px;
    padding: 1em;
    background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
    border-radius: 15px;
    font-style: italic;
    font-size: small;
    font-weight: 500;
   
}
.bts{
    margin-top: 2%;
    margin-left: 7%;
    width: 15%;
    height: 275px;
    padding: 1em;
    background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
    border-radius: 15px;
    font-style: italic;
    font-size: small;
    font-weight: 500;
}
.overlay1{
    height: 350%;
   
}
.profile
{
  margin-right: 3%;
  width: 30%;
  height: 45px;
  font-size:20px;
  font-weight: 700;
  background: rgba(225, 225, 225, 0.05);
  box-shadow: rgba(74, 73, 73, 0.3);
  border-radius: 15px;
}
.mysidenav{
    background-color: black !important;
}
.sidenav {
    height: 100%;
    width: 13%;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .main2 {
   margin-left: 13%; /* Same as the width of the sidenav */  
  }
  .icons{
    height: 30px;
    width: 30px;
    align-items: center;
    color:white;
  }
  .home{
    color:rgb(255, 255, 255);
  }
  .pprofile{
    justify-content: center;
    align-items: center;
    
  }
  .homme{
    font-size: large;
    justify-content: center;
    align-items: center;
  }
  .homme a{
    font-size: large;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
  }
  .sixe a{
    font-size: large;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }

  .six a{
   font-size: large;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
  }
  .seven a{
    font-size: large;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
  }
  .made{
    margin-top: 3%;
  }
  .belll{
    margin-top: 6%;
    margin-left: 3%;
    width: 70%;
    height: 275px;
    padding: 1em;
    background: -webkit-linear-gradient(top,black,rgb(147, 88, 196));
    border-radius: 15px;
    font-style: italic;
    font-size: small;
    font-weight: 500;
    align-items: center;
    justify-content: center;
  }
  .good2 {
    margin-top: 6%;
    display: flex;
    flex-flow: row;
}
.bel3{
    margin-top: 2%;
    margin-left:3%;
    width: 15%;
    height: 275px;
    padding: 1em;
    background: -webkit-linear-gradient(top,black,rgb(146, 66, 145));
    border-radius: 15px;
    font-style: italic;
    font-size: small;
    font-weight: 500;
}
.who3{
    margin-top: 2%;
    margin-left: 7%;
    width: 15%;
    height: 275px;
    padding: 1em;
    background: -webkit-linear-gradient(top,black,rgb(239, 108, 182));
    border-radius: 15px;
    font-style: italic;
    font-size: small;
    font-weight: 500;
   
}
.bts3{
    margin-top: 2%;
    margin-left: 7%;
    width: 15%;
    height: 275px;
    padding: 1em;
    background: -webkit-linear-gradient(top,black,rgb(165, 55, 15));
    border-radius: 15px;
    font-style: italic;
    font-size: small;
    font-weight: 500;
}
.arr2{
  display: flex;
    flex-flow: row;
}
.shree2{
  margin-top: 8%;
  margin-left: 0%;
  width: 15%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
}
.bel2{
  margin-top: 8%;
  margin-left: 7%;
  width: 15%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
}
.who2{
  margin-top: 8%;
  margin-left: 7%;
  width: 15%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,rgb(0, 0, 0),rgb(66, 113, 146));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
 
}
.bts2{
  margin-top: 8%;
  margin-left: 7%;
  width: 15%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
}
.art3{
  margin-top: 13%;
}
.arists-con{
  display: flex;
  flex-flow: row;
}
.art-con img{
  border-radius: 50%;
  margin-left: 30%;
  margin-top: 13%;
}
.aniii{
  margin-top: 2%;
  margin-left: 40%;
}
.art12 {
  margin-left: 0%;
  margin-top: 10%;
}
.art12 img{
border-radius: 50%;
}
.art22{
  margin-left: 4%;
  margin-top: 10%;
}
.art22 img{
  border-radius: 50%;
}
.art32 {
  margin-left: 4%;
  margin-top: 10%;
}
.art32 img{
  border-radius: 50%;
}
.art42 {
  margin-left: 4%;
  margin-top: 10%;
}
.art42 img{
  border-radius: 50%;
}
.art52 {
  margin-left: 4%;
  margin-top: 10%;
}
.art52 img{
  border-radius: 50%;
}
.art62 {
  margin-left: 5%;
  margin-top: 10%;
}
.art62 img{
  border-radius: 50%;
}
.text-con {
  margin-top: 9%;
  margin-left: 31%;
}
.text1-con {
  margin-top: 9%;
  margin-left: 28%;
}
.text2-con {
  margin-top: 9%;
  margin-left: 8%;
}
.text3-con {
  margin-top: 9%;
  margin-left: 13%;
}
.text4-con {
  margin-top: 9%;
  margin-left: 25%;
}
.text5-con {
  margin-top: 2%;
  margin-left: 19%;
}
.hd3{
  margin-top: 4%;
  font-size: xx-large;
  margin-left: 20%;
}
.good3{
  display: flex;
  flex-flow: row;
}
.bell2{
  margin-top: 43%;
  margin-left: 3%;
  width: 70%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,black,rgb(147, 88, 196));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}
.bel3{
  margin-top: 3.2%;
  margin-left: 2%;
  width: 15%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
}
.who3{
  margin-top: 3.2%;
  margin-left: 6%;
  width: 15%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
}
.bts3{
  margin-top: 3.2%;
  margin-left: 6%;
  width: 15%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
}
.bts4{
  margin-top: 3.2%;
  margin-left: 6%;
  width: 15%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
}
.hd5{
  margin-top: 4%;
  font-size: xx-large;
  margin-left: 24%;
}
.bell3{
  margin-top: 48%;
  margin-left: 3%;
  width: 70%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,black,rgb(147, 88, 196));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}
.good8{
  display: flex;
  flex-flow: row;
}
.who8{
  margin-top: 3.2%;
  margin-left: 6%;
  width: 15%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
}
.bts8{
  margin-top: 3.2%;
  margin-left: 6%;
  width: 15%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
}
.bts9{
  margin-top: 3.2%;
  margin-left: 6%;
  width: 15%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
}
.bel4{
  margin-top: 3.2%;
  margin-left: 2%;
  width: 15%;
  height: 275px;
  padding: 1em;
  background: -webkit-linear-gradient(top,black,rgb(66, 113, 146));
  border-radius: 15px;
  font-style: italic;
  font-size: small;
  font-weight: 500;
}